.fontsContainer {
  display: flex;
  flex-direction: row;
  position: relative;
}

.dropdown {
  position: absolute;
  top: calc(100% + 4px);
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1000;
}
