.title {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  outline: none;
  border: none;
  font-size: 25px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  background: rgb(241 230 230 / 41%);
  padding: 10px;
}

.image {
  display: none;
}

.menuButton {
  margin-right: 10px;
  background-color: #3498db;
  border-radius: 10px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  width: initial;
  height: 40px;
}

.menu button:hover {
  background-color: #2980b9;
}

.menu input {
  display: none; /* скрыть input по умолчанию */
}

.loader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.importImage,
.exportImage {
  width: 100%;
  height: 100%;
  margin-right: 5px;
}

.fileLoader {
  display: none;
}

.error {
  position: absolute;
  top: 2%;
  font-size: 20px;
  left: 70%;
}

.loaderImage {
  display: flex;
  flex-direction: row;
}
