.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  background: rgba(241, 230, 230, 0.41);
  padding: 10px;
}

.image {
  display: none;
}

.menuButton {
  margin-right: 10px;
  background-color: #3498db;
  border-radius: 10px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  width: initial;
  height: 40px;
}

.menu button:hover {
  background-color: #2980b9;
}

.menu input {
  display: none; /* скрыть input по умолчанию */
}

/* Дополнительные стили могут быть добавлены в зависимости от ваших требований */
