.presentationName {
  margin-left: 30px;
}

.slides {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 5px 10px 10px 20px;
  overflow: auto;
  gap: 10px;
  overflow-x: hidden;
}

.workField {
  display: flex;
  margin-bottom: 10px;
}

.selectionSlide {
  position: relative;
  width: 80vw;
  height: 40vw;
  margin-left: 20px;
  border: 2px solid #3498db;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

