.sideSlide {
  position: relative;
  width: 200px;
  height: 100px;
  outline: 1px solid #3498db;
  cursor: default;
}

.selectionSlide {
  position: relative;
  width: 80vw;
  height: 40vw;
  margin-left: 20px;
  border: 2px solid #3498db;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
