.sideSlide {
  position: relative;
  width: 200px;
  height: 100px;
  outline: 1px solid gray;
  cursor: default;
}

.selectionSlide {
  position: relative;
  border: 1px solid black;
  width: 80vw;
  height: 40vw;
  margin-left: 20px;
}
